#navbar{
    background-color: darkmagenta;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#nav-list{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
}
a{
    color: beige;
    text-decoration: none;
    font-style: 2.2em;
    padding: 2rem;
}
a::hover{
    background-color: #45567d;
}